.chart-controls-overlay {
    position: absolute;
    top: 10px;
    left: 10px; 
    margin-left: 120px;
    display: flex;
    flex-direction: row;
    align-items: flex-start; 
    background-color: rgba(0, 0, 0, 0.6); 
    padding: 5px;
    border-radius: 5px;
    z-index: 10;
  }
  .timeframe-button, .chart-type-button {
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    margin: 2px 0; 
  }
  
  .timeframe-button.active, .chart-type-button.active {
    background-color: #4CAF50; 
    color: white;
  }
  
  .indicator-select {
    background-color: #333; 
    color: white; 
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 12px;
    margin: 2px 0;
  }
  